<div class="container">
  <section class="s-log-in">
    <div class="b-log-in">
      <form action="" class="f-log-in">
        <label class="f-log-in__label">
          <span class="f-log-in__text">Name :</span>
          <input type="text" class="f-log-in__input" name="userField" [(ngModel)]="user" (change)="getUser()">
        </label>
        <label class="f-log-in__label">
          <span class="f-log-in__text">Password :</span>
          <input type="text" class="f-log-in__input">
        </label>
        <button class="f-log-in__btn" (click)="authorizationService.logIn()">Enter</button>
      </form>
    </div>
  </section>
</div>
