<section class="s-add-course">
  <div class="container">
    <div class="b-add-course__form">
      <form action="" class="f-add-course">
        <label class="f-add-course__label">
          <span class="f-add-course__span">Title</span>
          <input type="text" class="f-add-course__input">
        </label>
        <label class="f-add-course__label">
          <span class="f-add-course__span">Description</span>
          <textarea class="f-add-course__input _textarea"></textarea>
        </label>
        <label class="f-add-course__label">
          <span class="f-add-course__span">Date</span>
          <input type="text" class="f-add-course__input">
        </label>
        <label class="f-add-course__label">
          <span class="f-add-course__span">Duration</span>
          <input type="text" class="f-add-course__input">
        </label>
      </form>
    </div>
  </div>
</section>

