<section class="s-add-course">
  <div class="container">
    <div class="b-add-course__form">
      <form action="" class="f-add-course" *ngIf="(course$ | async) as course">
        <label class="f-add-course__label _title">

          <span class="f-add-course__span">Title</span>

          <input type="text" class="f-add-course__input" name="name" [(ngModel)]="course.name">
        </label>
        <label class="f-add-course__label _description">
          <span class="f-add-course__span">Description</span>
          <textarea class="f-add-course__input"></textarea>
        </label>
        <label class="f-add-course__label _date">
          <span class="f-add-course__span">Date</span>
          <input type="text" class="f-add-course__input">
        </label>
        <label class="f-add-course__label _duration">
          <span class="f-add-course__span">Duration</span>
          <input type="text" class="f-add-course__input">
        </label>
        <div class="f-add-course-btn__wrapper">
          <button class="f-add-course-btn" type="submit">Save</button>
          <button class="f-add-course-btn" type="reset">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</section>

