<div class="b-course">
  <div class="b-course__wrapper">
    <div class="b-course__description">
      <div class="b-course__header">
        <h3 class="b-course__title">{{title}}</h3>
        <span class="b-course__id">{{id}}</span>
        <span class="b-course__duration">{{duration}}</span>
        <span class="b-course__date">{{date}}</span>
      </div>
      <div class="b-course__context">
        <p class="b-course__text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. A dolorem ipsum itaque laudantium maiores neque nihil odio rerum velit voluptates.
        </p>
      </div>
    </div>
    <div class="b-course__config">
      <button class="b-course__btn _edit" (click)="editCourse()">Edit</button>
      <button class="b-course__btn _delete" (click)="deleteCourse()">Delete</button>
    </div>
  </div>
</div>
