<div class="b-course" [borderStyle]="course.upcoming" [ngClass]="{star : course.topRated}">
  <div class="b-course__wrapper">
    <div class="b-course__description">
      <div class="b-course__header">
        <span class="b-course__id">{{course.id}}.</span>
        <h3 class="b-course__title">{{course.title | uppercase}}</h3>
        <span class="b-course__duration">{{course.duration | transformHours}}</span>
        <span class="b-course__date">{{course.date | date:'dd/MM/yyyy'}}</span>
      </div>
      <div class="b-course__context" *ngIf="course.upcoming">
        <p class="b-course__text">
          {{ course.description }}
        </p>
      </div>
      <div class="b-course__context" *ngIf="course.upcoming === false">
        <p class="b-course__text">
          No data. Feel free to add new course!
        </p>
      </div>
    </div>
    <div class="b-course__config">
      <button class="b-course__btn _edit" (click)="editCourse()">Edit</button>
      <button class="b-course__btn _delete" (click)="courseService.removeItem(course.id)">Delete</button>
    </div>
  </div>
</div>
