/* You can add global styles to this file, and also import other style files */
a {
  text-decoration: none;
  color: #fff;
  display: block;
}
div,ul,a,li,ol,section {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}
html , body {
  min-height: 100%;
  height: auto;
  margin: 0;
}
body {
  min-height: 100vh;
  position: relative;
}
.header,.footer {
  position: absolute;
}
.header {
  top: 0;
  left: 0;
  width: 100%;
}
.footer {
  bottom: 0;
  left: 0;
  width: 100%;
  background: #3b5998;
  color: #ffffff;
}
.container  {
  max-width: 1200px;
  display: block;
  width: 100%;
  margin: 0 auto;
  padding: 70px 20px;
  text-align: center;
  height: 100%;
}
